{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Let's Play Boggle!</h1>

<div class="game-board">
    <div class="container">
        <p>Number of times played: {{ session['num_played'] }}</p>
        <p>Remaining Time: <span id="timer"></span></p>
        <p>High Score: <span id="hi-score">{{ session.get('curr-hi-score', 0) }}</span></p>
        <p>Score: <span id="score">0</span></p>
    </div>

    <!-- Future functionality -->
    <div class="options">
        <ul>
            <li><a href="#" id="reset-stats">Reset Statistics</a></li>
            <li><a href="#" id="new-game">New Game</a></li>
        </ul>
    </div>
<table>
    {% for row in session['board'] %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
        
    {% endfor %}
</table>

<form id="boggle-form" method="post">
    <label for="word">Check Word!</label>
    <input type="text" name="word" id="word" autocomplete="off" placeholder="word"> 
    <button type="submit">Submit</button>
    
</form>
<div class="container">
    <span>Result:</span>
    <span class="result"></span>
</div>

</div>
{% endblock %}