{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Let's Play Boggle!</h1>

<div class="game-board">
    <div class="container">
        <div id="stats">
            <p>Number of times played: {{ session['num_played'] }}</p>
            <p>Remaining Time: <span id="timer"></span></p>
        </div>
        <div id="scores">
            <p>High Score: <span id="hi-score">{{ session.get('curr-hi-score', 0) }}</span></p>
            <p>Score: <span id="score">0</span></p>
        </div>
        
    </div>

    <div class="options">
        <a href="/reset-stats" id="reset-stats" class="option-btn">Reset Statistics</a>
        <a href="/" id="new-game" class="option-btn">New Game</a>
    </div>
    <table>
        {% for row in session['board'] %}
        <tr>
            {% for col in row %}
            <td>{{ col }}</td>
            {% endfor %}
        </tr>
            
        {% endfor %}
    </table>

    <form id="boggle-form" method="post">
        <label for="word"><b>Check Word:</b></label>
        <input type="text" name="word" id="word" autocomplete="off" placeholder="word"> 
        <button type="submit">Submit</button>
        
    </form>
    <div class="container">
        <p>Result: <span class="result"></span></p>
    </div>

    <!-- Add list of guessed words -->

</div>
{% endblock %}